# Application Settings
PROJECT_NAME="VOGUE FIT - Fashion E-Commerce"
DEBUG=True
API_V1_STR="/api"

# Security & JWT
SECRET_KEY="your-secret-key-here"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# MySQL Database
DB_USER=avnadmin
DB_PASSWORD=your_password
DB_HOST=mysql-262-km298854-0e20.e.aivencloud.com
DB_PORT=12853
DB_NAME=defaultdb
DB_SSL_MODE=REQUIRED

# SQLAlchemy Database URL
DATABASE_URL=mysql+pymysql://avnadmin:your_password@mysql-262-km298854-0e20.e.aivencloud.com:12853/defaultdb
